<div id="main-content" class="container">
	<div class="row span6 offset3">
		<div>
			<h1>About</h1>
			<p>"RoboticsOnline" е стратегическа онлайн игра, в която всеки потребител има робот и целта му е да направи своя робот по - силен, за да може да побеждава другите роботи. В играта потребителя разполага с ресурси - злато, енергия и масло, които са му необходими за да може да играе със своя робот. </p>
		</div>
	</div>
</div>