<div id="main" class="conteiner">
	<div class="row">
		<div class="span2 offset3">
			<div class="list_name">
				<%= link_to User.find(Robot.find(@battle.robot_id).user_id).username, show_user_path({username: User.find(Robot.find(@battle.robot_id).user_id).username}) %>
			</div>
			<img src="/assets/user/profile-img.png"/>
		</div>
		<div class="span2 offset2">
			<div class="list_name">
				<%= link_to User.find(Robot.find(@battle.oponent_id).user_id).username, show_user_path({username: User.find(Robot.find(@battle.oponent_id).user_id).username}) %>
			</div>
			<img src="/assets/user/profile-img.png"/>
		</div>
		<div class="span3 offset5">
			<p> Result: <%=  @battle.winner %> won </p>
			<% @battle.combat_log.split("\n").each do |line| %>
				<li> <%= line %> </li>
			<% end %>
		</div>
	</div><!-- /row -->
</div><!-- /container -->
