<div id="main-content" class="container">
	<div class="row span6 offset3">
		<div id="team">
			<div id="Hristo">
				<img title="Hristo" alt="photo" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/429868_545936812116086_229247493_n.jpg" align="left" class="img-rounded">
				<p><strong>Name:</strong>Hristo Georgiev</p>
				<p>Birthday: 9 November</p>
				<p>School: <a href="/assets/Team/Hristo.jpg" target="_blank">TUES</a></p>
				<p>Contats: hristo.georgiev95@gmail.com</p>
			</div>
			<div id="George">
				<img title="George" alt="photo" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/1451525_681330165224122_301625976_n.jpg" align="left" class="img-rounded">
				<p><strong>Name:</strong>George Kratchkov</p>
				<p>Birthday: 1 August</p>
				<p>School: <a href="/assets/Team/George.jpg" target="_blank">TUES</a></p>
				<p>Contats: george.kratchko@gmail.com</p>
			</div>
		</div>
	</div>
</div>