<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>
		<div id="main" class="main-content span9">
			<div class="row">
				<h1>Transaction was canceled, your card wasn't charged! <% link_to 'Please try again.', vipzone_path %> </h1>
			</div>
		</div>
	</div>
</div>
