<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>
		<div id="main" class="main-content span9">
			<div class="row">
				<div class="span6 offset1">
					<h1 style="text-align: center">The transaction was successful!</h1>
					<h4 style="text-align: center">You have just received 100 crystals</h4>
				</div>
			</div>

		</div>
	</div>
</div>