<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>
		<div id="main" class="main-content span9">
			<div class="row">
				<div id="vipzone" class="span7 offset1">
					<h1>Vipzone</h1>
					<table class='table'>
						<tr>
							<th>Amount of crystals</th>
							<th>Price</th>
							<th>Available payment methods</th>
							<th>Pay with</th>
						</tr>
						<tr>
							<td>10</td>
							<td>5.00 BGN</td>
							<td><a href="https://www.epay.bg/en/" target="_blank">ePay</a></td>
							<td><form action="https://www.epay.bg/" method=post>
									<input type=hidden name=PAGE value="paylogin">
									<input type=hidden name=MIN value="3011474174">
									<input type=hidden name=INVOICE value="">
									<input type=hidden name=TOTAL value="5.00">
									<input type=hidden name=DESCR value="You will receive 10 crystals">
									<input type=hidden name=URL_OK value="http://www.robotics-online.org/user/success_transaction1">
									<input type=hidden name=URL_CANCEL value="http://www.robotics-online.org/user/canceled_transaction1">
									<input type=image src="http://online.datamax.bg/epaynow/b03.gif" name=BUTTON:EPAYNOW value="" alt="Pay" title="Pay">
								</form>
							</td>	

						</tr>
							<td>50</td>
							<td>10.00 BGN</td>
							<td><a href="https://www.epay.bg/en/" target="_blank">ePay</a></td>
							<td><form action="https://www.epay.bg/" method=post>
									<input type=hidden name=PAGE value="paylogin">
									<input type=hidden name=MIN value="3011474174">
									<input type=hidden name=INVOICE value="">
									<input type=hidden name=TOTAL value="10.00">
									<input type=hidden name=DESCR value="You will receive 50 crystals">
									<input type=hidden name=URL_OK value="http://www.robotics-online.org/user/success_transaction2">
									<input type=hidden name=URL_CANCEL value="http://www.robotics-online.org/user/user/canceled_transaction2">
									<input type=image src="http://online.datamax.bg/epaynow/a08.gif" name=BUTTON:EPAYNOW value="" alt="Pay" title="Pay">
								</form>
							</td>

						<tr>
							<td>100</td>
							<td>18.00 BGN</td>
							<td><a href="https://www.epay.bg/en/" target="_blank">ePay</a></td>
							<td><form action="https://www.epay.bg/" method=post>
									<input type=hidden name=PAGE value="paylogin">
									<input type=hidden name=MIN value="3011474174">
									<input type=hidden name=INVOICE value="">
									<input type=hidden name=TOTAL value="18.00">
									<input type=hidden name=DESCR value="You will receive 100 crystals">
									<input type=hidden name=URL_OK value="http://www.robotics-online.org/user/success_transaction3">
									<input type=hidden name=URL_CANCEL value="http://www.robotics-online.org/user/canceled_transaction3">
									<input type=image src="http://online.datamax.bg/epaynow/b03.gif" name=BUTTON:EPAYNOW value="" alt="Pay" title="Pay">
								</form>
							</td>
						</tr>
					</table>
				</div>		
			</div><!--row-->
		</div>
	</div>
</div>