<% if (@page == 1  &&  @users.count > 20 ) || (@page != 1) %>
	<div align="center" id="page" class="list_name">Pages:   
		<% for i in 1..User.all.count/20+1 %>
			<%= link_to "#{i}", ranklist_page_path({id: "#{i}"}), :method => :get %> 
		<% end %>
	</div>
<% end %>