<div id="main-content" class="container">
	<div class="row">
		<div id="main" class="main-content span9 offset1">	
			<h2 align="center"> The Best Players </h2>		
			<div>
				<div class="ranklist" id="ranklist">

					<%= render'ranklist'%>

				</div>
			</div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->

