#team {
	margin-top: 20px;	

}
#team  a{
	color:#FFFFFF; 
	text-decoration: none;	
}

#team a:hover{
	color:#A4A4A4; 
	text-decoration: none;	
}

#George {
	margin-top: 300px;
}

#George img{
	margin-right: 20px;
	width: 240px; 
	height: 352px;
}

#Hristo img{
	margin-right: 20px;
	width: 240px; 
	height: 352px;
}